
$menu-breakpoint: 400px;

body.start-page-hero {
	&::after {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: 30vh;
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0));
		z-index: -1;
	}
}

.header {
	position: relative;
	display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 100px;
  margin: 24px 24px 0;

  @media (min-width: $medium) {
  	flex-direction: row;
  	margin: 0 24px;
  }

  @media (min-width: $menu-breakpoint) {
  	align-items: center;
  }

	.site-logo {
    margin: auto 0;
    line-height: 1;
    font-size: 2.6rem;

		a {
			text-decoration: none;
		}
	}

	.toast {
		display: block;
		position: absolute;
    top: 48%;
    right: 0;
    transform: translateY(-50%);
		width: 22px;
		height: 10px;
		transition: all 0.2s ease-in-out;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 3px;
			background: #000;
			transform: rotate(0deg);
			transition: all 0.2s ease-in-out;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 3px;
			background: #000;
			transform: rotate(0deg);
			transition: all 0.2s ease-in-out;
		}

		&.open {
			&::before {
				transform: rotate(45deg);
			}

			&::after {
				top: 0;
				bottom: none;
				transform: rotate(-45deg);
			}
		}

		@media (min-width: $menu-breakpoint) {
			display: none;
		}
	}

	.main-menu {
		display: none;

		@media (min-width: $menu-breakpoint) {
			display: block;
		}

		&.open { display: block; }

		ul {
	    display: flex;
    	justify-content: flex-end;
    	align-items: center;
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				margin: 0 4px 24px;

				@media (min-width: $medium) { margin: 0 0 8px 30px; }

				a {
					padding: 2px 0 2px 2px;
					font-size: 1.2rem;
					text-transform: uppercase;
					text-decoration: none;

					@media (min-width: $medium) { font-size: 1.4rem; }
				}
			}
		}
	}
}