{% extends "base.twig" %}

{% block content %}
	
	<div class="slider" data-module="tupac">

		{% for item in hero %}

			<div class="slider__slide" style="background-image:url({{ item.thumbnail.src }});">
				<div class="slider__content-wrapper">
					<a href="{{ item.guid }}">
						<h2 class="slider__title">{{ item.post_title }}</h2>
						<p class="slider__summary">{{ item.get_field('summary') }}</p>
					</a>
				</div>
			</div>

		{% endfor %}

	</div>

{% endblock %}
